.fade-enter{
    opacity: 0;
    transition: all 40000ms ease-out;
    transform: translateX(200px);
}
.fade-exit{
    opacity: 0;
    transition: all 40000ms ease-out;
    transform: translateX(200px);
}
.fade-enter-active{
    opacity: 0;
    transition: all 40000ms ease-out;
    transform: translateX(200px);
}
.fade-exit-active{
    opacity: 0;
    transition: all 40000ms ease-out;
    transform: translateX(200px);
}
.fade-enter-active,
.fade-exit-active{
    opacity: 0.5;
    transition: all 400ms ease-out;
    position: absolute;
    transform: translateX(100%)
}
.my-node-enter {
    opacity: 1;
    transition: all 400ms ease-out;
    transform: translateX(200px);
}
.my-node-enter-active {
    opacity: 1;
    transition: all 400ms ease-out;
    transform: translateX(200px);
}
.my-node-exit {

    transition: all 400ms ease-out;
    transform: translateX(200px);
}
.my-node-exit-active {

    transition: all 400ms ease-out;
    transform: translateX(200px);
}


.item-enter {
    opacity: 0;
    transition: all 400ms ease-out;
    position: relative;
    transform: translateX(-50%)
}
.item-enter-active {
    opacity: 0.5;
    transition: all 400ms ease-out;
    position: relative;
    transform: translateX(100%)
}
.item-exit {
    position: absolute;
    opacity: 0;
    transform: translateX(0%)

}
.item-exit-active {
    position: absolute;
    opacity: 0;
    transform: translateX(-50%)
}
